{{ template "header" }}

<div id='game' class="game">
  <div class="metadata">
    <button hx-post="/games">Start New Game</button>
    <form hx-patch="/games?id={{ .Game.ID }}" hx-target="#table-body" hx-swap="beforeend">
      <input 
      type="text" 
      list="playerNames" 
      name="playerNameGuess" 
      placeholder="LeBron James" 
      required
      autocomplete="off" />
      <datalist id="playerNames">
        {{ range .PlayerNames }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
      </datalist>
      <button type="submit">Attempt</button>
    </form>
    <div id="game-status"></div>
    <table>
      <thead id="table-header">
        <tr>
          <th scope="col">Player Name</th>
          <th scope="col">Team</th>
          <th scope="col">Conf</th>
          <th scope="col">Div</th>
          <th scope="col">Pos</th>
          <th scope="col">Height</th>
          <th scope="col">Age</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody id="table-body">
      </tbody>
    </table>
  </div>
</div>

{{ template "footer" }}